<a href="https://colab.research.google.com/github/omoboyefolasade25/Folasade-Omoboye/blob/main/Group1_Class_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Group 1*** </br>
***Name of participant:***</br>

1-Lynda lebdjiri
2-Rukayat Adegboye
3-Claudia Attah
4-Juliet Nkemdy
5-Aleksandra Bozic
6-Folasade Omoboye
7-Mercy Nduku
8-Aleksandra Bozic
9-Ganiyat Sanusi
10-Titilayomi Otepola

In [ ]:
#1) Write a Python program to get the largest number from a list

lst=[22,100,35,1,-2,3,6,8,3,44]
largest_number = max(lst)
print(f"the largest number is : {largest_number}")

the largest number is : 100

In [ ]:
#2) Write a Python program to get the smallest number from a list
lst=[22,100,35,1,-2,3,6,8,3,44]
smallest_number = min(lst)
print(f"the smallest number is : {smallest_number}")

the smallest number is : -2

In [ ]:
#3) Write a Python script to add a key to a dictionary
My_dic = {"Lynda":25,
        "Ds_groupE":105
        }

Stephy = {"Phanie":28}

My_dic.update(Stephy)

print(My_dic)

{'Lynda': 25, 'Ds_groupE': 105, 'Phanie': 28}

In [ ]:
#4) Write a Python script to merge two Python dictionaries
My_dic1={"Rukayat":5,
        "Claudia":9
    }

print(f"My_dic1 : {My_dic1}")

My_dic2 = {"Aleksandra":10,
        "Mercy":13
    }

print(f"My_dic2 : {My_dic2}")

merged_dict = My_dic1.copy()

merged_dict.update(My_dic2)

print(f"After merging the two dictionaries : {merged_dict}")

My_dic1 : {'Rukayat': 5, 'Claudia': 9}
My_dic2 : {'Aleksandra': 10, 'Mercy': 13}
After merging the two dictionaries : {'Rukayat': 5, 'Claudia': 9, 'Aleksandra': 10, 'Mercy': 13}

In [ ]:
#5) Write a Python program to remove a key from a dictionary
My_dic={"Rukayat":5,
        "Claudia":9,
        "Aleksandra":10,
        "Mercy":13,
        "Lynda":25,
        "Juliet":20
    }

print(My_dic)

del My_dic["Mercy"]

print(My_dic)

My_dic.pop("Lynda")
print(My_dic)

{'Rukayat': 5, 'Claudia': 9, 'Aleksandra': 10, 'Mercy': 13, 'Lynda': 25, 'Juliet': 20}
{'Rukayat': 5, 'Claudia': 9, 'Aleksandra': 10, 'Lynda': 25, 'Juliet': 20}
{'Rukayat': 5, 'Claudia': 9, 'Aleksandra': 10, 'Juliet': 20}

In [ ]:
#6) Write a Python program to convert a list to a tuple

lst = ["red","green","orange","blue","white","grey","purple"]

print(lst)

My_tuple= tuple(lst)

print(My_tuple)

['red', 'green', 'orange', 'blue', 'white', 'grey', 'purple']
('red', 'green', 'orange', 'blue', 'white', 'grey', 'purple')